.cover__link {
    position: relative;
    background-image: url("../../../images/cover__image.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-size: cover;
    background-position: center center;
    min-height: 740px;
    width: 100%;
    z-index: 1;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: .3;
    max-width: 100%;
    z-index: -1;
    transition: opacity .3s;
}
  
  .cover__link:hover::after {
    opacity: .8;
}

@media screen and (max-width: 1200px) {
  .cover__link {
    min-height: 700px;
  }
}

@media screen and (max-width: 1100px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1000px) {
  .cover__link {
    min-height: 600px;
  }
}

@media screen and (max-width: 900px) {
  .cover__link {
    min-height: 550px;
  }
}

@media screen and (max-width: 800px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 700px) {
  .cover__link {
    min-height: 420px;
  }
}
  
@media screen and (max-width: 600px) {
  .cover__link {
    min-height: 360px;
  }
}
  
@media screen and (max-width: 500px) {
  .cover__link {
    min-height: 300px;
  }
}
  
@media screen and (max-width: 400px) {
  .cover__link {
    min-height: 250px;
  }
}
  
@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}