.places {
  width: calc(100% - 148px*2);
  max-width: 984px;
  margin: 12px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 800px) {
  .places {
    margin-top: 16px;
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
  }
}
