.footer__links {  
  margin: 0;
  padding: 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 1150px) {
  .footer__links {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .footer__links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .footer__links {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .footer__links {
    flex-direction: column;
  }
}