.footer__links {  
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 450px) {
  .footer__links {
    flex-direction: column;
  }
}