.footer__nav {
  width: 40%;
}

@media screen and (max-width: 1150px) {
  .footer__nav {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .footer__nav {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    width: 60%;
  }
}