.header__lang-link_inactive {
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.1s;
}

.header__lang-link_inactive:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__link_inactive {
    font-size: 18px;
  }
}